// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
// @import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left:0.5rem;
  padding-right:0.5rem;
}

.navbar{
  border-radius:0;
}

.thumbnail{
  margin-bottom: 1rem;
}

a:hover{
  text-decoration: none;
}

.label-bg-gradient{
  //background-image: -webkit-gradient(linear, left top, right top, from(#05AABD), to(#00AB60));
  // to left：设置渐变为从右到左。相当于: 270deg
  // to right：设置渐变从左到右。相当于: 90deg
  // to top：设置渐变从下到上。相当于: 0deg
  // to bottom：设置渐变从上到下。相当于: 180deg。这是默认值，等同于留空不写。
  //background-image:linear-gradient(to right,#05AABD,#00AB60);
  background-image:linear-gradient(-148deg, #ff1616 0%, #4425ff 100%);
  border:none;
}

.button-bg-gradient{
  background-image:linear-gradient(-148deg, #4425ff 0%, #ff1616 100%);
  border:none;
}

.label-radius{
  border-radius: 1rem;
}
footer-top
.block-title{
  display: inline-block;
  font-size:3rem;
  font-weight:100;
  //background: linear-gradient(to bottom, #ff1616, #4425ff);
  //-webkit-background-clip: text;
  //color: transparent;
  //-webkit-text-fill-color: transparent;
  position: relative;
  color: #ff1616;
}

.block-title-img{
  margin-top: 1.5rem;

  img{
    height:2rem;
  }

}



.block-title[data-text]::after{
  display: block;
  content: attr(data-text);
  color: #4425ff;
  position: absolute;
  top:0;
  z-index: 2;
  -webkit-mask:linear-gradient(to top, red, transparent );
}

.block-title-english{
  font-family:PingFangSC-Regular;
  font-size:1.6rem;
  color:#474747;
}

.page-navbar{
  margin-bottom:0;
  background-color:#0c0c0c;

  ul.navbar-nav{
    li{
      font-size: 1.4rem;
    }
    li.active span{
      padding-bottom:0.8rem;
      border-bottom: 0.3rem solid #FFF;
    }
  }
}



.page-jumbotron{
  height: 60rem;
  background-image:url("/images/m-home-bg.png");
  background-position:0 0;
  background-repeat: no-repeat;
  background-size:cover;
  color:#FFF;
  p.play{
    margin-top: 12rem;
    img{
      margin-bottom:1rem;
      width:7.5rem;
    }
  }

  h2{
    margin-top: 5em;
    font-size:2rem;
  }
  p{
    margin-top:2rem;
    font-size: 1.2rem;
  }
}




.page-course-background{
  .page-course{
    .thumbnail{
      border-radius:0;
      padding:0;

      img {
        width:100%;
        margin:0;
        height:30rem;
      }

      .caption{
        h3{
          span{
            float: right;
            font-size: 55%;
            border-radius:1rem;
          }
        }

        p{
          span.text-right{
            float: right;
          }
        }

        p.tags{
          line-height: 2.8rem;

          span.label{
            position:relative;
            border:1px solid transparent;
            background-color:#FFF;
            color:#000000;
            padding:.2em .6em;
            border-radius:10px;
            //box-shadow: 0 3px 9px black, inset 0 0 9px white;
            z-index: 1;
            margin-right: 3px;
          }

          span.label:last-child{
            margin-right: 0px;
          }

          span.label::after{
            content: '';
            position: absolute;
            top: -2px; bottom: -2px;
            left: -2px; right: -2px;
            background:linear-gradient(to right,#ff1616,#4425ff);
            //background:#000000;
            z-index: -1;
            border-radius: 1rem;
          }


        }
      }
    }
  }
}

/* 明星教练 */
.page-coach{

  .thumbnail{
    position: relative;
    margin-bottom:1rem;
    padding:0;
    border-radius: 0;
    border:none;

    img.thumb{
      width: 100%;
      height:30rem;
    }

    .caption-title{
      display: none;
      position: absolute;
      background-color: #0c0c0c;
      opacity:0.8;
      color: #FFF;
      height:4rem;
      left:0;
      right:0;
      bottom: 0;

      h3{
        font-size: 1.8rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 4rem;
        font-weight: bold;
      }
    }

    .caption-hover{
      padding-top: 3rem;
      position: absolute;
      background-color: #0c0c0c;
      opacity:0.8;
      color: #FFF;
      top:0;
      left:0;
      right:0;
      bottom: 0;

      p{
        padding:0 2rem;
      }

      h3,p:nth-of-type(1),p:nth-of-type(2){
        text-align: center;
      }

      h3{
        font-size: 1.8rem;
        font-weight: bold;
      }

      p:nth-of-type(2){
        margin-bottom: 30px;
      }

    }

  }
}

/* 学员风采 */
.page-students{
  .media{
    margin-bottom: 1rem;
    .media-left{
      position: relative;
      span{
        display: block;
        position: absolute;
        left:50%;
        top:50%;
        width:5rem;
        height:5rem;
        margin-left:-2.5rem;
        margin-top:-2.5rem;
        background-image: url('/images/play.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      img{
        width:18rem;
        height:12rem;
      }


    }

    .media-body{
      padding-top: 2rem;
      font-size: 1.4rem;

      h4, p{
        font-size:1.4rem;
      }
    }

  }
}


footer{
  .footer-top{

    display: none;

    background-color: #2e3132;
    color:#FFF;
    padding:2.5rem 0;

    h4{
      font-size:1.4rem;
      font-weight: bold;
    }
    p{
      font-size:1rem;
      margin-bottom: 0.5rem;
    }
  }

  .footer-bottom{
    background-color: #272929;
    padding:2rem 0;

    ul{
      display: none;
    }

    p:nth-of-type(2){
      display: none;
    }

    a{
      color:#FFF;
    }

    p{
      margin-bottom: 0.5rem;
      color:rgba(255,255,255,0.40);
      a{
        color:rgba(255,255,255,0.40);
      }
      font-size:1rem;
    }
  }
}

.coach, .students{
  .pager li{
    background-color: #f2f4f4;
    margin-left: 0;
  }

  .pager li:first-of-type{
    border-radius:15px 0 0 15px;
  }

  .pager li:last-of-type{
    border-radius:0 15px 15px 0;
  }

  .pager li a{
    color:#000000;
    padding:5px 15px;
    margin-bottom: 5px;
  }

  .pager li a:hover{
    //background-color:transparent;
  }

  .pager li.active a{
    color:#FFF;
    border-radius: 15px;
    background-color: #c61a5d;
  }
}

/* 课程安排 */
.course-banner{
  img{
    width: 100%;
  }

  img.course-banner-xs-img{
    display: block;
  }
  img.course-banner-md-img{
    display: none;
  }

}

.course{
  .list-group a.active{
    background-color:#c61a5d;
    border-color:#c61a5d;
  }
}

/* 教练管理 */
.coach-banner{
  height: 10rem;
  background: url("/images/team-banner.png") no-repeat center center;
  background-size: 100% 100%;
}

/* 学员风采 */
.students{


  .thumbnail{
    padding:0;
    border:none;
    position: relative;

    img{
      width:100%;
      height:15rem;
    }

    .caption{
      position: absolute;
      left:0;
      top:0;
      right:0;
      bottom: 0;
      background-color: #000000;
      opacity: 0.5;
      color:#FFF;
      padding-left: 2rem;
      padding-right: 2rem;

      h3{
        font-size:1.8rem;
      }

      span.play{
        display: block;
        width: 3.6rem;
        height: 3.6rem;
        background: url("/images/play2.png") no-repeat left top;
        background-size: cover;
      }
    }
  }

}

/* 关于我们页面 */
.about{
  .about-banner{
    background: url("/images/about-banner.png") no-repeat center center;
    background-size: cover;
  }

  .about-banner-text{
    height:30rem;
    background: url("/images/slogin.png") no-repeat center center;
    background-size: 23%;
  }

  .about-banner-form{
    margin-top:5rem;
    padding:20px;
    border:none;
    border-radius: 0;
    opacity: 0.9;

    .panel-heading{
      background:none;
      font-size:1.6rem;
      text-align: center;
      span{
        margin-left:1.1rem;
        position: relative;
        top:-0.3rem;
      }
      img{
        height:1.8rem;
      }

      border-image: linear-gradient(to right,  #ff1616, #4425ff) 30 30;
    }

    form{
      padding:0 2rem;
      button{
        color:#FFF;
      }
    }
  }

  .about-map{
    height:40rem;
  }

  .about-text{
    .panel{
      border:none;
    }
  }

  .store-tab{
    .nav-justified li, .nav-tabs.nav-justified li{
      float:left;
    }

    .nav{
      a{
        color:#555;
      }

      li.active a{
        background-color: transparent;
        border-bottom: 2px solid #ff1616;
        border-image: linear-gradient(to right,  #ff1616, #4425ff) 30 30;
      }
    }

  }


  .store-show-bg{
    background:url("/images/about.png") no-repeat left top;
    color:#FFF;

    .store-show-title{
        color:#FFF;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .store-show-table{
      margin-bottom: 4rem;
      table{
        width: 100%;

        th{
          background-color: #eee;
          text-align:center;
        }

        td{
          background-color: #ccc;
        }

        td,th{
          color: #111111;
          border:1px solid #FFF;
          opacity: 0.8;
        }
      }
    }

  }

  .about-store-location-text{
    margin-top: 5rem;

  }

  .about-store-location-image{
    margin-top: 5rem;
    table{
      width: 100%;

      td{
        width: 33.3%;
        border:5px solid #FFF;
      }

      td.first{
        background-repeat: no-repeat;
        background-size:100% 100%;

      }
    }

    .thumbnail{
      padding:0;
      border:none;
      margin-bottom: 0;

      img{
        width: 100%;
        height:8rem;
        display:block;
      }


    }

  }



}

/* 适应PC */
@media (min-width: $screen-md-min) {

  .about{

    .about-map{
      height:50rem;
    }


    .store-tab{

      .nav-justified li, .nav-tabs.nav-justified li{
        float:none;
      }

      margin-top:5rem;

      .nav{
        border-top:2px solid #d8d8d8;

        a{
          color:#555555;
        }

        a:hover{
          background: none;
          border-bottom: none;
        }

        li{
          position: relative;

          span{
            position: absolute;
            display: inline-block;
            width:30px;
            height:38px;
            top:-40px;
            left:50%;
            margin-left:-15px;
            background:url("/images/loation.png") no-repeat center center;
            background-size: 100% 100%;
          }
        }

        li.active{
          a{
            background-color: transparent;
          }

          a:hover{
            color:#555555;
          }

          span{
            background-image:url("/images/loation.png");
          }
        }

      }
    }

    .about-store-location-image{
      .thumbnail{
        img{
          height:18rem;
        }
      }
    }
  }

  .course .course-content{
    min-height: 60rem;
  }


  .course-banner{
    img.course-banner-xs-img{
      display: none;
    }
    img.course-banner-md-img{
      display: block;
    }

  }

  .coach-banner{
    height: 40rem;
    background-size:cover;
  }

  footer {
    .footer-top {
      display: block;
    }

    .footer-bottom {
      p:nth-of-type(2) {
        display: block;
      }
    }
  }

  .page-students .media .media-left {
    img {
      width: 28rem;
      height: 18rem;
    }
  }

  .page-jumbotron {
    background-image: url("/images/home-bg.png");
    height: 800px;

    p.play {
      margin-top: 15rem;
      img {
        margin-bottom: 1rem;
      }
    }

    h2 {
      margin-top: 5em;
      font-size: 3rem;
    }
    p {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }

  .page-introduction {
    width: 94.5rem;
    position: absolute;
    top: 732px;
    left: 50%;
    margin-left: -47rem;

    .panel {
      border-radius: 0;
      background: transparent !important;

      .panel-heading {
        height: 10rem;
        //background-color: #0c0c0c;
        opacity: 0.8;

        h3 {
          margin-top: 2.5rem;
        }
      }

      .panel-body {
        p {
          padding: 3rem 2rem;
        }
      }
    }

  }

  .page-course-background .page-course {
    margin-top: 22rem;
  }
}